@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <link rel="stylesheet" target=_blank href="~/css/sidebar.css" type="text/css" />
    <title>@ViewData["Title"] - projetfinalFJO</title>


    <environment include="Development">
        <link rel="stylesheet"  href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <!-- Bootstrap CSS CDN -->
        <link rel="stylesheet"  href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <!-- Our Custom CSS -->
        <link rel="stylesheet" href="~/css/style3.css">
        <!-- Scrollbar Custom CSS -->
        <link rel="stylesheet"  href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
        <!-- Font Awesome JS -->
        <link rel="stylesheet"  href="~/css/site.css" />
        <link rel="stylesheet" t href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    </environment>
    <environment exclude="Development">

        <link rel="stylesheet"  href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <!-- Bootstrap CSS CDN -->
        <link rel="stylesheet"  href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <!-- Our Custom CSS -->
        <link rel="stylesheet"  href="~/css/style3.css">
        <!-- Scrollbar Custom CSS -->
        <link rel="stylesheet"  href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
        <!-- Font Awesome JS -->
        <link rel="stylesheet"  href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
        <link rel="stylesheet"  href="~/css/site.css" />
    </environment>


</head>
<body>
    <div class="wrapper">
        <!-- Sidebar -->
        <!--https://bootstrapious.com/p/bootstrap-sidebar-->
        <nav id="sidebar">
            <div class="sidebar-header">
                <div class="row">
                    <div class="col-sm-0">
                        <h3>Chat</h3>
                    </div>
                    <div class="col ml-0">   <div id="dismiss"><i class="fas fa-arrow-right fa-c"></i></div></div>
                </div>
            </div>
            <ul class="list-unstyled components">
                <li class="active">
                    <a target=_blank href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">Home</a>
                    <ul class="collapse list-unstyled" id="homeSubmenu">
                        <li>
                            <a target=_blank href="#">Home 1</a>
                        </li>
                        <li>
                            <a target=_blank href="#">Home 2</a>
                        </li>
                        <li>
                            <a target=_blank href="#">Home 3</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a target=_blank href="#">About</a>
                    <a target=_blank href="#pageSubmenu" data-toggle="collapse" aria-expanded="false">Pages</a>
                    <ul class="collapse list-unstyled" id="pageSubmenu">
                        <li>
                            <a target=_blank href="#">Page 1</a>
                        </li>
                        <li>
                            <a target=_blank href="#">Page 2</a>
                        </li>
                        <li>
                            <a target=_blank href="#">Page 3</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a target=_blank href="#">Portfolio</a>
                </li>
                <li>
                    <a target=_blank href="#">Contact</a>
                </li>
            </ul>


            <ul class="list-unstyled CTAs">
                <li>
                    <a target=_blank href="https://bootstrapious.com/tutorial/files/sidebar.zip" class="download">Download source</a>
                </li>
                <li>
                    <a target=_blank href="https://bootstrapious.com/p/bootstrap-sidebar" class="article">Back to article</a>
                </li>
            </ul>
        </nav>


        <!-- Page Content  -->
        <div id="content">
            <header class="page-header">
                <nav class="navbar navbar-expand-md  fixed-top text-white" style="background-color:#03224C;" id="navbarCollapse">
                    <a class="navbar-brand" target=_blank href="#">FJO-Prod</a>

                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse">
                        <ul class="navbar-nav mr-auto">
                            @{if (this.User.IsInRole("Admin") && @HttpContextAccessor.HttpContext.Session.GetString("ActualisationActif") != "Actif")
                                //https://stackoverflow.com/questions/43698878/how-to-get-session-value-asp-net-core-inside-a-view
                                {
                                    <li class="nav-item">
                                        <a class="nav-link" id="#" asp-action="Actualisation" asp-controller="Actualisation">Actualisation </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" asp-action="GererUtilisateur" asp-controller="GererUtilisateur">Gestion d'utilisateur</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" asp-action="List_Programme" asp-controller="Programmes">Gestion de programmes</a>
                                    </li>
                                }
                                else if (this.User.IsInRole("Sous_Commite") || this.User.IsInRole("Srdp") || (this.User.IsInRole("Admin") && @HttpContextAccessor.HttpContext.Session.GetString("ActualisationActif") == "Actif"))
                                {
                                    if (this.User.IsInRole("Admin"))
                                    {
                                        int i = HttpContextAccessor.HttpContext.Session.GetInt32("Actualisation").Value;
                                        <li class="nav-item">
                                            <a class="nav-link" asp-action="Actualiser" asp-route-numActu="@i" asp-controller="Actualisation">Accueil</a>
                                        </li>
                                    }
                                    else
                                    {
                                        <li class="nav-item">
                                            <a class="nav-link" asp-action="Accueil" asp-controller="Home">Accueil</a>
                                        </li>
                                    }

                                    <li class="nav-item">
                                        <a class="nav-link" asp-action="ListeCompetence" asp-controller="Competences">Compétences</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" asp-action="ListeAnalyse" asp-controller="AnalyseCompetence">Analyses</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" asp-action="ListeCours" asp-controller="Cours">Cours</a>
                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-link dropdown" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Menu des répartitions</a>
                                        @*https://www.youtube.com/watch?v=932hSm1yNII*@
                                        @*Dropdown menu*@
                                        <div class="dropdown-menu mega-menu" aria-labelledby="navbarDropdown" style="width: 100%;">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <p><strong class="sub-menu-heading">Répartition des heures par compétences et sessions</strong></p>
                                                    <p><a asp-action="ListeRepartirHeureCompetences" asp-controller="RepartirHeureCompetences">Liste des répartitions d'heures par compétences</a></p>
                                                </div>
                                                <div class="col-md-4">
                                                    <p><strong class="sub-menu-heading">Repartition des heures par cours</strong></p>
                                                    <p><a asp-action="Index" asp-controller="RepartitionHeureCoursSessionCompetences">Liste des répartitions des heures par cours</a></p>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" target=_blank href="#"> Rapports</a>
                                    </li>
                                    if (this.User.IsInRole("Admin"))
                                    {
                                        int i = HttpContextAccessor.HttpContext.Session.GetInt32("Actualisation").Value;
                                        <li class="nav-item">
                                            <a class="nav-link testing" asp-action="Actualisation" asp-controller="Actualisation">
                                                <i class="fas fa-cogs iconlist"></i>
                                            <span>
                                                Retour à l'accueil d'admin
                                            </span></a>
                                        </li>
                                    }
                                }
                                else if (this.User.IsInRole("Commite_Programme"))
                                {
                                    <li class="nav-item">
                                        <a class="nav-link" target=_blank href="#">Accueil</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" target=_blank href="#">Génération des rapports</a>
                                    </li>
                                }
                                <li class="nav-item">
                                    <a  id="sidebarCollapse" class="nav-link btn testing">
                                        <i class="fas fa-comments iconlist"></i>
                                        <span>chat</span>
                                    </a>                                  
                                </li>
                            }
                        </ul>
                        @await Html.PartialAsync("_LoginPartial")
                    </div>
                </nav>
            </header>
            <div class="col-lg-12 mt-5 well h-scroll">
                @RenderBody()
            </div>


            <partial name="_CookieConsentPartial" />
            <hr />
            <footer class="fixed-bottom" style="background-color:#03224C; color:#fff;">
                <p>&copy; 2018 - projetfinalFJO</p>
            </footer>
        </div>
    </div>


    <div class="overlay"></div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <!-- jQuery Custom Scroller CDN -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/js/sidebar.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/lib/jquery-unobtrusive-ajax/jquery.unobtrusive-ajax.js"></script>
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <!-- jQuery Custom Scroller CDN -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/js/sidebar.js"></script>
    </environment>

    @RenderSection("Scripts", required: false)

    <!-- sidebar script -->
   



</body>
</html>