@model IEnumerable<projetfinalFJO.Models.Authentification.LoginRole>

@{
    ViewData["Title"] = "List";
}

<div class="list">
    <h2>Liste des compétences</h2>

        <a class="btn btn-info" asp-action="Create">
            <i class="fas fa-plus-circle"> Ajouter un role</i>
        </a>
    <table class="table table-hover">
        <thead class="card-header">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NormalizedName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ConcurrencyStamp)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NormalizedName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ConcurrencyStamp)
                    </td>
                    <td>
                        <a class="btn btn-info btnlist" asp-action="Delete" asp-route-id="@item.Id"><i class="fas fa-trash"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>
    