@model IEnumerable<projetfinalFJO.Models.ActualisationViewModel>

@{
    ViewData["Title"] = "Index";
}

@{
    Layout = null;
}

<h2>Veillez sélectionner une actualisation pour continuer</h2>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NumActualisation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomActualisation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NoProgramme)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomProgramme)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Approuve)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NumActualisation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NomActualisation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NoProgramme)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NomProgramme)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Approuve)
                </td>
                <td>
                    @Html.ActionLink("Sélectionner cette actualsiation", "ChoixActualisation", new { num = item.NumActualisation }) |
                </td>
            </tr>
        }
    </tbody>
</table>
