@model IEnumerable<projetfinalFJO.Models.MembresActualisationViewModel>

@{
    ViewData["Title"] = "MembresActualisation";
}

<h2>Memrbes de l'actualisation @ViewBag.NumActualisation</h2>

<p>
    <a asp-action="AjouterMembre" asp-route-numAct="@ViewBag.NumActualisation" class="btn btn-info">Ajouter un membre à l'actualisation</a>
</p>
<h2>Membres du King (SRDP)</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prenom)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            if (item.Role == "Admin")
            {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prenom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Courriel)
            </td>
            <td>
                @Html.ActionLink("Retirer de l'actualisation", "RetirerMembre", new { numActualisation = @ViewBag.NumActualisation, courriel = item.Courriel })
            </td>
        </tr>
            }

        }
    </tbody>
</table>

<h2>Membres du Sous-commité</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prenom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Courriel)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            if (item.Role == "Sous_Commite")
            {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prenom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Courriel)
            </td>
            <td>
                @Html.ActionLink("Retirer de l'actualisation", "RetirerMembre", new { numActualisation = @ViewBag.NumActualisation, courriel = item.Courriel })
            </td>
        </tr>
            }

        }
    </tbody>
</table>

<h2>Membres du Commité du programmes</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prenom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Courriel)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            if (item.Role == "Commite_Programme")
            {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prenom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prenom)
            </td>
            <td>
                @Html.ActionLink("Retirer de l'actualisation", "RetirerMembre", new { numActualisation = @ViewBag.NumActualisation, courriel = item.Courriel })
            </td>
        </tr>
            }

        }
    </tbody>
</table>
<div>

    <a asp-action="Actualisation" class="btn btn-info" style="background-color:darkblue;border-color:darkblue">Retour à la liste d'actualisations</a>
</div>