@model projetfinalFJO.Models.ActualisationViewModel

@{
    ViewData["Title"] = "SupprimerActualisation";
}

<h2>Supprimer l'actualisation</h2>

<h3>Êtes-vous certain de vouloir suppriemr cette actualisation</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NumActualisation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NumActualisation)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NomActualisation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NomActualisation)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NoProgramme)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NoProgramme)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NomProgramme)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NomProgramme)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Approuve)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Approuve)
        </dd>
    </dl>
    <h4>Entrez votre mot de passe pour confirmer</h4>
    <label>Mot de passe</label>
    <input type="text" id="mdp" />
    <input type="button" value="Confirmer" onclick="SupprimerActualisation(@Model.NumActualisation)" />
    @*<form asp-action="SupprimerActualisation2">
            <input asp-for="NumActualisation" value="@Model.NumActualisation" type="hidden" />
            <input type="submit" value="Supprimer" class="btn btn-default" /> |
            <a asp-action="Actualisation">Annuler la suppression</a>
        </form>*@
    @*<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
        Supprimer l'actualisation
    </button>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Confirmation authentification</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Veuillez entrer votre courriel et mot de passe
                </div>
                <div>
                    <label>Courriel</label>
                    <input id="email" />
                    <br />
                    <label>Mot de passe</label>
                    <input id="mdp" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annule</button>

                    <form asp-action="SupprimerActualisation2">
                        <input asp-for="NumActualisation" value="@Model.NumActualisation" type="hidden" />
                        <input type="submit" value="Supprimer" class="btn btn-default" /> |
                        <a asp-action="Actualisation">Annuler la suppression</a>
                    </form>

                    <button type="button" class="btn btn-primary">Soumettre</button>
                </div>
            </div>
        </div>
    </div>*@
</div>
<!-- https://getbootstrap.com/docs/4.0/components/modal/-->
