@model IEnumerable<projetfinalFJO.Appdata.CompetencesElementCompetence>

@{
    ViewData["Title"] = "ListComp_Elem";
}

<h2>ListComp_Elem</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CodeCompetenceNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ElementCompétenceNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NoProgrammeNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CodeCompetenceNavigation.CodeCompetence)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ElementCompétenceNavigation.ElementCompétence)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NoProgrammeNavigation.NoProgramme)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
