@model projetfinalFJO.Appdata.AnalyseElementsCompetence

@{
    ViewData["Title"] = "SupprimerAnalyse";
}

<h2>Supprimer l'analyse</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NiveauTaxonomique)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NiveauTaxonomique)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Reformulation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Reformulation)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Context)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Context)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SavoirFaireProgramme)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SavoirFaireProgramme)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SavoirEtreProgramme)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SavoirEtreProgramme)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ValidationApprouve)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ValidationApprouve)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdAnalyseAc)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdAnalyseAc)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AdresseCourriel)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AdresseCourriel)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ElementCompétence)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ElementCompétence)
        </dd>
    </dl>

    <form asp-action="SupprimerAnalyse2" asp-route-id="@Model.IdAnalyseAc">
        <input type="submit" value="Supprimer" class="btn btn-default" /> |
        <a asp-controller="AnalyseCompetence" asp-action="ListeElements2" class="btn btn-info" style="background-color:darkblue;border-color:darkblue">Annuler</a>
    </form>
</div>
