@model IEnumerable<projetfinalFJO.Appdata.Cours>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomCours)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PonderationCours)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DepartementCours)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TypedeCours)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdsessionNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NoProgrammeNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomCours)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PonderationCours)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepartementCours)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TypedeCours)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdsessionNavigation.NomSession)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NoProgrammeNavigation.NoProgramme)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.NoCours">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.NoCours">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.NoCours">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
