@model projetfinalFJO.Appdata.Cours

@{
    ViewData["Title"] = "SupprimerCours";
}

<h2>Supprimer un cours</h2>
<div>
    @*<h4>Cours</h4>
        <hr />*@
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NoCours)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NoCours)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NomCours)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NomCours)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PonderationCours)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PonderationCours)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DepartementCours)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DepartementCours)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TypedeCours)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TypedeCours)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NomSession)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NomSession)
        </dd>
    </dl>
    
    <form asp-action="Supprimer" asp-controller="Cours" asp-route-id="@Model.NoCours">
       <input type="submit" value="Supprimer" class="btn btn-default" />|
       <a asp-action="ListeCours" class="btn btn-info">Retour à la liste</a>
    </form>
</div>

@section Scripts
    {
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
}
