@model IEnumerable<projetfinalFJO.Models.AnalyseCompetenceVM>

@{
    ViewData["Title"] = "ListeAnalyse";
}

<h2>Liste des analyse</h2>

<p>
    <a asp-action="CreerAnalyseListe" asp-controller="AnalyseCompetence" class="btn btn-info">Créer un analyse</a>
</p>

<table class="table table-hover">
    <thead class="card-header">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CodeCompetence)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NiveauTaxonomique)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValidationApprouve)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdresseCourriel)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CodeCompetence)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NiveauTaxonomique)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ValidationApprouve)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AdresseCourriel)
                </td>
                <td>
                    @Html.ActionLink("Consulter analyse éléments", "ListeElements", new { code = item.CodeCompetence, email = item.AdresseCourriel }) |
                    @Html.ActionLink("Modifier", "ModifierAnalyse", new { code = item.CodeCompetence, email = item.AdresseCourriel }) |
                    @Html.ActionLink("Consulter", "ConsulterAnalyse", new { code = item.CodeCompetence, email = item.AdresseCourriel }) |
                    @Html.ActionLink("Supprimer", "SupprimerAnalyse", new { code = item.CodeCompetence, email = item.AdresseCourriel })
                </td>
            </tr>
        }
    </tbody>
</table>
