@model IEnumerable<projetfinalFJO.Appdata.AnalyseElementsCompetence>

@{
    ViewData["Title"] = "ListeElements";
}

<h2>Liste des éléments de compétence</h2>

<p>
    <a asp-action="CreerAnalyseListe" asp-controller="AnalyseElementCompetence">Créer un analyse de cet élément</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdAnalyseAc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ElementCompétence)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NiveauTaxonomique)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValidationApprouve)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.AdresseCourriel)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdAnalyseAc)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ElementCompétence)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NiveauTaxonomique)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ValidationApprouve)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.AdresseCourriel)
                </td>
                <td>
                    @Html.ActionLink("Consulter", "ConsulterAnalyse", "AnalyseElementCompetence", new { id = item.IdAnalyseAc }) |
                    @Html.ActionLink("Modifier", "ModifierAnalyse", "AnalyseElementCompetence", new { id = item.IdAnalyseAc }) |
                    @Html.ActionLink("Supprimer", "SupprimerAnalyse", "AnalyseElementCompetence", new { id = item.IdAnalyseAc })
                </td>
            </tr>
        }

    </tbody>
</table>
<p>
    <a asp-controller="AnalyseCompetence" asp-action="ListeAnalyse">Retour aux analyses de compétence</a>
</p>