
@{
    ViewData["Title"] = "Repartition_Heure";
}

<div id="principale">
    <h2>Repartition Des Heures</h2>

    <div id="heuremax">
        <partial name="_PartialRep_Heure" model="ViewBag.CompHeureRep" />
    </div>
    <div id="tabs">
        <ul>
            <li><a href="@Url.Action("partialGroupeComp", "RepartirHeureCompetences")">Assigner un groupe à une compétence</a></li>
            <li><a href="@Url.Action("partialGroupe", "RepartirHeureCompetences")">Créer un groupe </a></li>
            <li><a href="@Url.Action("partialtableRepGroupeComp", "RepartirHeureCompetences")">Tableau de répartition des compétences par groupe</a></li>
        </ul>
    </div>
    <div id="tabs2">
        <ul>
            <li><a href="@Url.Action("partialSessionComp", "RepartirHeureCompetences")">Répartir les heures par session</a></li>
            <li><a href="@Url.Action("partialSession", "RepartirHeureCompetences")">Créer une session</a></li>
            <li><a href="@Url.Action("partialtableRepSession", "RepartirHeureCompetences")">Tableau de répartition des compétences par session</a></li>
        </ul>
    </div>

</div>

@section Scripts
    {
    
    <script>
        /*https://jqueryui.com/tabs/#ajax  */
        $(function () {
            $("#tabs").tabs({
                beforeLoad: function (event, ui) {
                    ui.jqXHR.fail(function () {
                        ui.panel.html(
                            "Couldn't load this tab. We'll try to fix this as soon as possible. " +
                            "If this wouldn't be a demo.");
                    });
                }
            });

            $("#tabs2").tabs({
                beforeLoad: function (event, ui) {
                    ui.jqXHR.fail(function () {
                        ui.panel.html(
                            "Couldn't load this tab. We'll try to fix this as soon as possible. " +
                            "If this wouldn't be a demo.");
                    });
                }
            });
        });
    </script>

}
