@model projetfinalFJO.Appdata.Programmes

@{
    ViewData["Title"] = "Delete";
}

<h1>Voulez vous vraiment supprimer ce programme?</h1>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NomProgramme)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NomProgramme)
        </dd>
        @*<dt>
            @Html.DisplayNameFor(model => model.NbHeure)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NbHeure)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NbUnite)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NbUnite)*@
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NbCompetencesObligatoires)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NbCompetencesObligatoires)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NbCompetencesOptionnelles)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NbCompetencesOptionnelles)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CondtionsAdmission)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CondtionsAdmission)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="NoProgramme" />
        <input type="submit" value="Supprimer" class="btn btn-info" /> |
        <a class="btn btn-info" asp-action="List_Programme"><i class="fas fa-arrow-left"> Retournez à la liste des programmes</i></a>
    </form>
</div>
