@model IEnumerable<projetfinalFJO.Appdata.Programmes>

@{
    ViewData["Title"] = "Index";
}

<h2>Gestion des programmes</h2>

<p>
    <a class="btn btn-info" asp-action="Create">
        <i class="fas fa-plus-circle"> Ajouté un nouveau programme</i>
    </a>
</p>

<table class="table table-hover">
    <thead class="card-header">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomProgramme)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NbHeureFormationTechnique)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NbUniteFormationTechnique)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NbCompetencesObligatoires)
            </th>

            
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NomProgramme)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NbHeureFormationTechnique)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NbUniteFormationTechnique)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NbCompetencesObligatoires)
                </td>
                <td>
                    <a class="btn btn-info btnlist testing" asp-action="Edit" asp-route-id="@item.NoProgramme"><i class="fas fa-pen iconlist"></i><span>Modifier le programme</span></a>|
                    <a class="btn btn-info btnlist testing" asp-action="Details" asp-route-id="@item.NoProgramme"><i class="fas fa-info-circle iconlist"></i><span>Voir les détails</span></a> |
                    <a class="btn btn-info btnlist testing" asp-action="Delete" asp-route-id="@item.NoProgramme"><i class="fas fa-trash iconlist"></i><span>Supprimer</span></a>
                </td>
            </tr>
        }
    </tbody>
</table>
