@model IEnumerable<projetfinalFJO.Appdata.Programmes>

@{
    ViewData["Title"] = "Index";
}

<h2>Programmes éxistants</h2>

<p>
    <a class="btn btn-info" asp-action="Create">
        <i class="fas fa-plus-circle"> Ajouter un programme</i>
    </a>
</p>

<table class="table table-hover">
    <thead class="card-header">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomProgramme)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NbHeure)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NbUnite)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NbCompetencesObligatoires)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NbCompetencesOptionnelles)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CondtionsAdmission)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NomProgramme)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NbHeure)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NbUnite)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NbCompetencesObligatoires)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NbCompetencesOptionnelles)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CondtionsAdmission)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.NoProgramme">Éditer</a> |
                    <a asp-action="Details" asp-route-id="@item.NoProgramme">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.NoProgramme">Supprimer</a>
                </td>
            </tr>
        }
    </tbody>
</table>
