@model IEnumerable<projetfinalFJO.Appdata.Competences>

@{
    ViewData["Title"] = "Gestion des compétences";
}

<h3>Gestion des compétences</h3>

<p>
    <a class="btn btn-primary" asp-action="Create"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a> Ajouter une compétence
</p>
<table class="table">
    <thead class="thead-inverse">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CodeCompetence)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ObligatoireCégep)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContextRealisation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdfamilleNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CodeCompetence)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ObligatoireCégep)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ContextRealisation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdfamilleNavigation.NomFamille)
                </td>
                <td>
                    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.CodeCompetence"><span class="glyphicon glyphicon-edit" aria-hidden="true"> Modifier</span></a> |
                    <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.CodeCompetence"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"> Details</span></a> |
                    <a class="btn btn-primary" asp-action="Delete" asp-route-id="@item.CodeCompetence"><span class="glyphicon glyphicon-trash" aria-hidden="true"> Supprimer</span></a>
                </td>
            </tr>
        }
    </tbody>
</table>
