
@model IEnumerable<projetfinalFJO.Appdata.Competences>
@{
    ViewData["Title"] = "Index";
}
<div class="list">
    <h2>Liste de compétences</h2>
    <a class="btn btn-info" asp-action="Create">
        <i class="fas fa-plus-circle"> Ajouter une compétence</i>
    </a>
    <p>
        @using (@Html.BeginForm("ListeCompetence", "Competences", FormMethod.Get))
        {
            <b>Recherche par description / numero de programme:</b>

            @Html.TextBox("search")
            <input type="submit" value="Rechercher" />
        }
    </p>
    <table class="table table-hover">
        @if (Model.Count() == 0)
        {
            <tr>
                <td colspan="4">
                    Aucune compétence trouvée.
                </td>
            </tr>
        }
        else
        {
            <thead class="card-header">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.CodeCompetence)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ObligatoireCégep)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ContextRealisation)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.NoProgramme)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.NomFamilleNavigation)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.CodeCompetence)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ObligatoireCégep)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ContextRealisation)
                        </td>
                         <td>
                            @Html.DisplayFor(modelItem => item.NoProgramme)
                        </td>
                       
                         <td>
                             <a class="btn btn-info btnlist testing" asp-controller="Elementcompetences" asp-action="ListeElementCompetence"  asp-route-id="@item.CodeCompetence"><span>Voir la liste des éléments de compétences</span></a>
                             <a class="btn btn-info btnlist testing" asp-action="Edit" asp-route-id="@item.CodeCompetence"><i class="fas fa-pen iconlist"></i><span>Modifier la compétence</span></a> |
                             <a class="btn btn-info btnlist testing" asp-action="Details" asp-route-id="@item.CodeCompetence"><i class="fas fa-info-circle iconlist"></i><span>Voir les détails</span></a> |
                             <a class="btn btn-info btnlist testing" asp-action="Delete" asp-route-id="@item.CodeCompetence"><i class="fas fa-trash iconlist"></i><span>Supprimer</span></a>
                         </td>
                    </tr>
                }
            </tbody>
        }
    </table>
</div>

