@model projetfinalFJO.Appdata.Elementcompetence
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Elementcompetence</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ElementCompétence)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ElementCompétence)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CriterePerformance)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CriterePerformance)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NoProgramme)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NoProgramme)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="ListeElementCompetence2" class="btn btn-info" style="background-color:darkblue;border-color:darkblue">Retour à la liste</a>
</div>
