@model IEnumerable<projetfinalFJO.Appdata.Elementcompetence>

@{
    ViewData["Title"] = "ListeElementCompetence";
}

<h2>ListeElementCompetence</h2>

<p>
    <a asp-controller="Elementcompetences" asp-action="Creer">Créer un nouvel élément de compétence</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ElementCompétence)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CriterePerformance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NoProgramme)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ElementCompétence)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CriterePerformance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NoProgramme)
            </td>
            <td>
                @Html.ActionLink("Modifier", "Modifier", new {  id=item.ElementCompétence }) |
                @Html.ActionLink("Details", "Details", new {  id=item.ElementCompétence }) |
                @Html.ActionLink("Supprimer", "Supprimer", new {  id=item.ElementCompétence  })
            </td>
        </tr>
}
    </tbody>
</table>
