@model IEnumerable<projetfinalFJO.Appdata.Elementcompetence>

@{
    ViewData["Title"] = "ListeElementCompetence";
}

<h2>Liste des éléments de compétence</h2>

<p>
    <a asp-controller="Elementcompetences" asp-action="Creer" class="btn btn-info">  <i class="fas fa-plus-circle">Créer un nouvel élément</i></a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ElementCompétence)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CriterePerformance)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ElementCompétence)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CriterePerformance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NoProgramme)
            </td>
            <td>
                <a class="btn btn-info btnlist testing" asp-action="Modifier" asp-route-id="@item.ElementCompétence"><i class="fas fa-pen iconlist"></i><span>Modifier</span></a> |
                <a class="btn btn-info btnlist testing" asp-action="Details" asp-route-id="@item.ElementCompétence"><i class="fas fa-info-circle iconlist"></i><span>Détails</span></a> |
                <a class="btn btn-info btnlist testing" asp-action="Supprimer" asp-route-id="@item.ElementCompétence"><i class="fas fa-trash iconlist"></i><span>Supprimer</span></a>
            </td>
        </tr>
}
    </tbody>
</table>
